.navBar {
  list-style: none;
}

.navLink {
  text-decoration: none;
}

.navItem {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;

  display: inline;
  padding: 0 25px;

  text-transform: uppercase;
}
